<% content_for :tools do %>




<% end %>

<% content_for :main do %>

    <%= form_for :hotel do |h| %>

      <ul>

        <li class="third">
          <%= h.label :image_url, "Hotel Image Url:" %>
          <%= h.text_field :hotel_image_url,
                            class: "",
                            id: "js-check-hotel-name" %>
        </li>

        <li class="third">
          <%= h.label :type, "Hotel Type:" %>
        </li>




      </ul>

    <% end %>

<% end %>
