<nav class="main" role="navigation">
  <ul>
    <li><a href="/statistic" class="active"><i class="fa fa-signal"></i> Statistics</a></li>
    <li><a href="/hotel"><i class="fa fa-building"></i> Hotels</a></li>
    <li><a href="/rates"><i class="fa fa-usd"></i> Rates</a></li>
    <li><a href="/report"><i class="fa fa-file-excel-o"></i> Reports</a></li>
    <li><a href="/user"><i class="fa fa-users"></i> Users</a></li>
  </ul>
</nav>
