/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require font-awesome
 */

@import "bourbon";
@import "font-awesome";

*{
  @include box-sizing(border-box);
  text-decoration:none;
  outline:0 !important;
  font-family: 'Raleway', helvetica, sans-serif;

}
::-webkit-input-placeholder{
  color:inherit;
}

body{
  margin:0;
  padding:0;
  overflow:hidden;
  position:fixed;
}

img{
  display:block;
  width:100%;
  height:auto;
}
.clearfix{
  content:"";
  display:table;
  clear:both;
  width:100%;
}

.wrapper{
  display:block;
  width:100%;
  position:relative;
  clear:both;

  & .left,
  & .right{
    display:table-cell;
    width:100%;
    vertical-align:top;
  }

  & .left{
    background-color:#7C0D0D;
    width:170px;
    min-width:170px;
  }

  & .right{
    background-color:#AD2E2E;
    padding:0;
  }

  &.top{
    height:55px;
    display:table;
  }

  &.bottom{
    display:table;
    height:calc(100vh - 55px);

    & .left{
      background-color:#212121;
      height:inherit;
      -webkit-box-shadow: inset -14px 0px 13px -5px #212121;
      -moz-box-shadow:    inset -14px 0px 13px -5px #212121;
      box-shadow:         inset -14px 0px 13px -5px #212121;
    }

    & .right{
      background-color:#eee;
      height:inherit;
      overflow-x:hidden;
      overflow-y:hidden;

    }
  }
}

.container{
  padding:15px;

  &.full{
    padding:0;
  }
}

main{
  overflow-y:scroll;
  overflow-x:hidden;
  height:inherit;
  padding-bottom:30px;

  &:after{
    @extend .clearfix;
  }
}



nav.main{
  display:block;
  width:100%;
  max-width:calc(100vw -170px);

  & ul,
  & li{
    display:block;
    width:100%;
    padding:0;
    margin:0;
  }

  & li{
    color:#fff;
    list-style:none;

    & a,
    & a:visited{
      display:block;
      width:100%;
      padding:15px 10px;
      color:#777;
      font-size:18px;
      position:relative;
      text-transform:uppercase;
      font-weight:500;
    }

    & i{
      text-align:center;
      min-width:30px;
      font-size:20px;
    }

    & a.active,
    & a:hover,
    & a:focus{
      background-color:#111;
      color:#fff;
    }

    & a.active:after{
      content:"";
      position:absolute;
      right:0;
      top:15px;
      border-top:10px solid transparent;
      border-bottom:10px solid transparent;
      border-right:10px solid #eee;
    }

  }

}


.panel{
  display:block;
  width:100%;
  background-color:#ccc;

  & a.accordion,
  & a.accordion:visited{
    display:block;
    padding:10px;

    & i,
    & h3{
        display:inline-block;
        width:auto;

    }
  }

  & a.accordion:hover,
  & a.accordion:focus{
    background-color:#aaa;
  }

}


.hotel.block{
  float:left;
  width:23%;
  margin:1%;
  -webkit-box-shadow: 0px 8px 15px -7px rgba(0,0,0, 0.51);
  -moz-box-shadow:    0px 8px 15px -7px rgba(0,0,0, 0.51);
  box-shadow:         0px 8px 15px -7px rgba(0,0,0, 0.51);

  & .hotel-img{
    max-height:100px;
    overflow:hidden;
  }

  & .hotel-info{
    background-color:#ccc;
    min-height:50px;

    & span{
      display:block;
      width:100%;
      border-bottom:1px dashed darken(#ccc, 5%);
      padding:10px;
    }

    & span:last-child{
      border-bottom:1px solid darken(#ccc, 5%);
    }
  }

  & .hotel-tools{
    background-color:#cecece;

    &:after{
      @extend .clearfix;
    }

    & a,
    & a:visited{
      float:left;
      width:25%;
      text-align:center;
      padding:10px 0;
      border-left:1px solid darken(#ccc, 5%);

      & i{
        color:#666;
        font-size:20px;
      }

      &:first-child{
        border-left:0;
      }
    }

    & a:hover i,
    & a:focus i{
      color:#AD2E2E;
    }
  }
}

.hotel.list{

}



h1,h2,h3,h4,h5,h6{
  padding:0;
  margin:0;
  line-height:26px;
  color:#666;
  font-weight:400;
}

h1{
  font-size: 26px;
}
h2{
  font-size: 22px;
}
h3{
  font-size: 18px;
}
h4{
  font-size: 14px;
}
h5{
  font-size: 10px;
}
p{
  font-weight:500;
  padding:5px 0;
}
small{
  font-size:10px;
  font-weight:700;
  text-transform:uppercase;
  color:#777
}



select,
input,
textarea{
  border:0;
  margin:0;
  -webkit-border-radius:0;
}
input,
textarea{
  -webkit-appearance:none;
}
.toolbar {
  display:inline-block;
  width:auto;
  vertical-align:middle;

  & input{
    height:55px;
    background-color:transparent;
    border-right:1px solid darken(#AD2E2E, 5%);
    border-left:1px solid darken(#AD2E2E, 5%);
    color:#ddd;
    font-size:16px;
    padding: 0 8px;
    min-width:250px;
    margin-left:-4px;
    position:relative;
    z-index:1;
  }

  & select{
    height:55px;
    font-size:16px;
    border-radius:0;
    -webkit-border-radius: 0px !important;

    color:#ddd;
    background-color:transparent;
  }

  & input:focus,
  & select:focus{
    background-color:rgba(255,255,255,0.05);
  }

  &.btns{
    float:right;
    height:55px;

    & a,
    & a:visited{
      display:inline-block;
      width:auto;
      font-size:20px;
      color:#fff;
      padding:15px 18px;
      text-align:center;
      border-left:1px solid darken(#AD2E2E, 5%);

      & i{
        min-width:20px;
      }
    }
  }
}
