<% content_for :tools do %>

  <div class="toolbar filters" id="js-filters">
    <form id="js-filter">
      <input type="search" />
      <button type="submit"><i class="fa fa"></i></button>
    </form>
    <a href="#" id="js-reset-filters"><i class="fa fa-refresh"></i></a>
  </div>

  <div class="toolbar btns">
    <a href="" class=""><i class="fa fa-list"></i></a>
    <a href="/hotel/new" class="tool-btns" title="Create New hotel"><i class="fa fa-plus"></i></a>
  </div>

<% end %>

<% content_for :main do %>

  <h2><i class="fa fa-usd"></i> Current Rates</h2><hr />

<% end %>
