<%= content_for :tools do %>




<% end %>

<%= content_for :classes do %>
  full
<% end %>

<%= content_for :main do %>

    <% 5.times do %>

      <div class="panel accordion">
        <a href="#" class="accordion">
          <i class="fa fa-plus"></i>
          <h3>{Stats Name}</h3>
        </a>
        <div class="accordion-body">

        </div>
      </div>

    <% end %>

<% end %>
